 html {
 	font-family: Arial;
 }

 body {
 	background-color: rgb(255, 219, 180);
 }

 .container-fluid {
    position: relative;
}





 h1 {
 	text-align: center;
 	font-family: Lobster;
 	font-size:65px;
    margin-top: 50px;
 }

 h3 {
    margin-top: 0px;
}
